@import '../../../scss/01-elements/variables';

.metric-container {
  display: flex;
  gap: 9px;

  h5 {
    margin: 0;
    align-self: center;
  }

  .metric-showcase {
    padding: 3px;
    border: solid 1.5px $bluegray;
    border-radius: 6px;
    width: 99px;
    h6 {
      text-align: center;
      margin: 0;
    }
  }
}
