.card {
  background: rgba(194, 207, 224, 0.2);
  border-radius: 8px;
  border: none;
}

.tpp-table {
  max-height: 55vh;
  .tpp-table-container {
    min-width: 1400px;
  }
}

@media (max-width: '780px') {
  .tpp-table {
    max-height: inherit;
    .tpp-table-container {
      min-width: inherit;
    }
  }
}

.p-inputtext {
  background: #ffffff !important;
  border: 0.5px solid $gray-2 !important;
  box-sizing: border-box !important;
  border-radius: 4px !important;
  height: 38px !important;
  outline: none !important;
  padding: 5px 10px !important;
  width: 100% !important;
  box-shadow: 0px 3px 5px rgb(0 0 0 / 2%), 0px 0px 2px rgb(0 0 0 / 5%),
    0px 1px 4px rgb(0 0 0 / 8%);

  &:disabled {
    opacity: 1 !important;
    color: rgb(172, 172, 172) !important;
    background-color: rgb(233, 233, 233) !important;
  }
}

.tpp-input {
  background: #ffffff;
  border: 0.5px solid $gray-2;
  box-sizing: border-box;
  border-radius: 4px;
  height: 38px;
  outline: none;
  padding: 5px 10px;
  width: 100%;

  &:disabled {
    color: rgb(172, 172, 172);
    background-color: rgb(233, 233, 233);
  }

  box-shadow: 0px 3px 5px rgb(0 0 0 / 2%), 0px 0px 2px rgb(0 0 0 / 5%),
    0px 1px 4px rgb(0 0 0 / 8%);

  &:focus {
    border: 2px solid $gray-2;
  }

  &.area-input {
    min-height: 72px;
  }

  &.error-input {
    border-color: $danger;
    &:focus {
      border-color: $danger;
    }
  }
}

.tpp-menu-btn {
  &:hover {
    background-color: $background;
  }
  display: flex;
  gap: 6px;
  padding: 6px;
  align-items: center;
  border: solid 2px $background;
  background-color: $white;
  cursor: pointer;
  h6 {
    font-size: 9px;
    font-weight: bold;
    margin: 0;
  }
}

.calendar {
  &.p-calendar {
    width: 360px;
    max-width: none;

    input {
      border-radius: 7px;
      border: 0.5px solid #c2cfe0 !important;
      width: 100%;
    }
  }

  .panel {
    right: 0 !important;
    left: initial !important;
  }
}

.p-datepicker table td > span.p-highlight {
  color: #ffffff;
  background: $secondary-color !important;
}

.p-datepicker {
  border: none !important;
  table {
    td {
      & > a {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.p-datepicker table td.p-datepicker-today > span.p-highlight {
  color: #ffffff;
  background-color: $secondary-color !important;
}

.p-datepicker-current-day {
  & > .p-state-active {
    background-color: $secondary-color !important;
    color: $white !important;
    border-radius: 100%;
  }
}

.p-datepicker-today {
  & > a {
    background-color: transparent !important;
    border-radius: 100%;
  }
}

.p-datepicker-title {
  color: $secondary-color !important;
  font-weight: 600;
  font-size: 14px !important;
  line-height: 21px !important;
  letter-spacing: 0.01em;
}

.p-datepicker-next-icon,
.p-datepicker-prev-icon {
  color: $secondary-color;
}

@media (max-width: '780px') {
  .filter-overlay {
    display: none;
  }
  .calendar {
    &.p-calendar {
      width: 100%;
    }
  }
}

.p-overlaypanel {
  max-width: 90vw;
}

.calendar-filter {
  &.p-overlaypanel {
    left: -769px !important;
    width: 970px !important;
    top: 35px !important;
    --overlayArrowLeft: 786px !important;
  }
}

.regular-filter {
  &.p-overlaypanel {
    left: -327px !important;
    top: 35px !important;
  }
}

#filter-dialog {
  .p-dialog {
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
  }

  .p-dialog .p-dialog-content {
    height: 100% !important;
  }
}

.p-datepicker-mask {
  display: none;
}
